body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    width: 100%;
    margin: auto;
    
}
h1{
    font-size: 40px;
}

.title-top{
    border-left: 4px solid;
    border-image: linear-gradient(orange,tomato);
    border-image-slice: 30%;

}

.flexible-container{
    display: flex;
    
}
.orange-color{
    color: orange;
}
.half-width{
    width: 50%;
    padding: 5%;
}
.half-width img{
    width: 80%;
}
.link-button{
    background-color: orangered;
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}
.mission-section{
    width: 94%;
}
.Mission2022{
   display: flex;
   padding-left: 5%;
   padding-right: 5%;

   
}
.mission-title{
    text-align: center;
}
.mission-item{
    width: 40%;
    margin-right:5%;
    border-radius: 20px;
    
}
.text-item{
    padding: 20px;
}
.bg-color-mission{
    background-color: #EFF4F6;
}
.bg-color-vission{
    background-color: #FAEEEE;
}
.bg-color-goals{
    background-color: #FBF5D7;
}

.illustrator-photo img{
    width: 40%;
    margin-left: 20px;
    margin-top: 30px;
}