body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    width: 100%;
    margin: auto;  
}
h1{
    font-size: 40px;
}
span{
    color: orange;
}
.title-top{
    border-left: 4px solid orangered;
    line-height: 30px;

}
.title-top h1{
    padding-left: 5px;
}
.flexible-container{
    display: flex;  
}
.half-width{
    width: 50%;
    padding: 5%;
}
.half-width img{
    width: 70%;
}
.link-button{
    background-color: orangered;
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 5px;
    color: white;
    font-weight: 400;
    font-size: 15px;
    border: none;
}
.link-button:hover{
    background-color: orange;
    color: white;
}
.Mission2022{
   display: flex;
   justify-content: space-around;
}
.mission-title{
    text-align: center;
}
.mission-item{
    width: 23%;
    border-radius: 20px;  
}
.text-item{
    padding: 20px;
}
.bg-color-mission{
    background-color: #EFF4F6;
}
.bg-color-vission{
    background-color: #FAEEEE;
}
.bg-color-goals{
    background-color: #FBF5D7;
}
.illustrator-photo img{
    width: 40%;
    margin-left: 20px;
    margin-top: 30px;
}
.develop-section{
    display: flex;
    background-image: url(../images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-size: 200px;
    background-position: left;
    background-position-y: 200px;
}
.community-section{
    display: flex;
    background-image: url(../images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-size: 200px;
    background-position: right 13% bottom 6%;   
}
.develop-app-section{
    display: flex;
    background-image: url(../images/shapes/shape-3.png);
    background-repeat: no-repeat;
    background-size: 150px;
    background-position: left;
    background-position: left 0% top 5%;
    background-position-x: 250px; 

}
input[type=text], textarea {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 7px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }

  .form-container {
    width: 40%;
    border-radius: 20px;
    background-color: #f2f2f2;
    padding: 20px;
    box-shadow: 0px 0px 5px 3px orange;
  }
  .contact-text-div{
    text-align: center;
    color: white;
    background-color: orange;
    border-radius: 5px;
  }
.footer-section{
 width: 100%;
}
.footer-item{
    background-color: black; 
    color: white;  
}
.footer-text{
    text-align: center;
    padding: 5px;
}
.footer-text h2{
    font-family: 'Pattaya', sans-serif;
}